torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1
timm==1.0.20
tqdm==4.67.1
flask==3.1.2
flask-cors==6.0.1
requests==2.32.3
python-dotenv==1.1.1
numpy==1.26.4
pillow==11.0.0
scikit-learn==1.7.2
matplotlib==3.10.0
